#loginForm {
  background-position: center;
  background-size: cover;
  background-image: url("../images/abstract-gradient-neon-lights.jpg");
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#loginForm .container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff1f;
  box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.25);
}
#person {
  width: 100px;
  height: 100px;
  background-color: #ffffff20;
  color: #ffffff2f;
  border-radius: 50%;
}
input::placeholder {
  color: white;
}
input:enabled {
  border: none;
}
#loginForm input {
  border: none;
  outline: none;
  border-radius: 0;
  color: white;

  border-bottom: white solid 1px;
  display: block;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

#loginForm button {
  background-color: #00000050;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  color: white;
  font-size: larger;
}

#loginForm #message {
  margin-top: 20px;
  font-weight: bold;
  color: black;
}
